<!-- Main Page Content and Sidebar -->
<%= form_for @actor do |f| %>
<div class="row">
     <!-- Sidebar -->

        <div class="three columns">

          <h5><%= image_tag(@actor.image) %></h5>

          <!-- Clicking this placeholder fires the mapModal Reveal modal -->
         <input id="btn" class="panel callout radius" name="commit" type="submit" value="  Update this Actor  ">

        </div>

        <!-- End Sidebar -->
  <!-- Contact Details -->
  <div class="nine columns">
<br><br>
      <dl class="contained tabs">
      <dd class="active"><a href="#">Actor Information</a></dd>
    </dl>

    <ul class="tabs-content contained">
      <li id="contactFormTab" class="active">
        <!-- Row Layout for forms -->

          <div class="four columns">
            <label><%= f.label :movie_id, "Select this Actor's Movie:  " %></label>
              <%= f.select :movie_ids, Movie.all.map{|movie| [movie.title, movie.id]}, :include_blank => true, :prompt => "Movie Title" %>
          </div>
          <div class="row">
            <div class="seven columns">
              <label>Actor's Name</label>
              <%= f.text_field :name, :autofocus => true %>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <label>Birthplace</label>
              <%= f.text_field :birthplace %>
            </div>
            <div class="three columns">
              <label>Date of Birth</label>
              <%= f.text_field :dob %>
            </div>
            <div class="three columns">
              <label>Passed Away on</label>
              <%= f.text_field :dod %>
            </div>
          </div>
           <div class="row">
            <div class="twelve columns">
              <label>Image URL</label>
              <%= f.text_field :image %>
            </div>
          </div>

        <!-- End Contact Details -->



      </div>

      <!-- End Main Content and Sidebar -->


        <% end %>

