<!-- Main Page Content and Sidebar -->
 <%= form_for @movie do |f| %>
<div class="row">
     <!-- Sidebar -->

        <div class="three columns">


        <!-- <div class="four mobile-four columns"> -->

          <%= image_tag("film1.jpg") %>

          <div class="hide-for-small panel">
            <h3>Select your <em>Reel</em>...</h3>
            <h5 class="subheader">Before adding your new movie, make sure you assign it to one of your <em>Reelz.</em><br><br>
              Also, you can add Actors to this New Movie on your <em>Reel</em> by simply checking the boxes below.
            </h5>
          </div>
        <div align="center">
          <input id="btn" class="panel callout radius" name="commit" type="submit" value="Add this New Movie">
          </div>

<!--
        </div> -->

        </div>

        <!-- End Sidebar -->
  <!-- Contact Details -->
  <div class="nine columns">

    <h3>Add a Movie to your <em>Reel</em></h3>
    <p>Is your <em>Reel</em> feeling a little light?  While it's great to add the Actors you love, your <em>Reel</em> just wont be complete without including all of your favorite movies as well.  The best part is you can include any of the actors below the movies on your <em>Reel</em>!</p>

    <dl class="contained tabs">
      <dd class="active"><a href="#">Movie Information</a></dd>
    </dl>

    <ul class="tabs-content contained">
      <li id="contactFormTab" class="active">
        <!-- Row Layout for forms -->


          <div class="four columns">
            <label><%= f.label :collection_id, "Select this Movie's Reel:  " %></label>
            <%= f.select :collection_id, Collection.all.map{|collection| [collection.name, collection.id]}, :include_blank => true, :prompt => "Reelz Name" %>
          </div>
          <div class="row">
            <div class="seven columns">
              <label>Movie Title</label>
              <%= f.text_field :title, :autofocus => true %>
            </div>
          </div>
          <div class="row">
            <div class="three columns">
              <label>Year</label>
              <%= f.text_field :year %>
            </div>
            <div class="three columns">
              <label>Release Date</label>
              <%= f.text_field :released, "value" => "YYYY-MM-DD" %>
            </div>
            <div class="three columns">
              <label>Rated</label>
              <%= f.text_field :rated %>
            </div>
            <div class="three columns">
              <label>Runtime</label>
              <%= f.text_field :runtime %>
            </div>
          </div>
            <div class="row">
             <div class="four columns">
               <label>Director</label>
               <%= f.text_field :director %>
             </div>
             <div class="four columns">
               <label>imdb ID</label>
               <%= f.text_field :imdbID %>
             </div>
           </div>
           <div class="row">
            <div class="twelve columns">
              <label>Poster URL</label>
              <%= f.text_field :poster %>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label>Plot</label>
              <%= f.text_field :plot %>
            </div>
          </div>


        <!-- End Contact Details -->



      </div>

      <!-- End Main Content and Sidebar -->


      <!-- Thumbnails -->

      <div class="row">
        <div class="twelve show-for-small columns">
          <h3>Header</h3><hr>
        </div>
        <% Actor.order(:name).each do |actor| %>
        <div class="three mobile-two columns">
          <%= image_tag(actor.image) %>
          <div class="panel">
            <p><%= actor.name %>
              <%= check_box_tag 'movie[actor_ids][]', actor.id, actor.in?(@movie.actors) %></p>
            </div>
          </div>
          <% end %>
        </div>

        <!-- End Thumbnails -->

        <% end %>

