<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

<!--   <title>Welcome to Foundation | Homepage</title> -->
  <title>Reelz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->

  <!--Included CSS Files (Compressed)
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="javascripts/modernizr.foundation.js"></script>
-->
</head>
<body>

  <!-- Header and Nav -->

  <div class="row">
    <div class="six columns">
      <h1 id="logo"><strong><%= link_to('Get Reel', root_path) %></strong><%= image_tag("logo.jpg") %></h1>
    </div>
    <div class="six columns">
      <ul class="nav-bar right">

  <li class="has-flyout">
    <a href="#">Reelz</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><%= link_to('Build a New Reel', new_collection_path) %></li>
      <li><%= link_to('View your Reel Rack', collections_path) %></li>
    </ul>
  </li>
  <li class="has-flyout">
      <a href="#">Movies</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><%= link_to('View all Movies', movies_path) %></li>
      <li><%= link_to('Add a New Movie', new_movie_path) %></li>
      <li><%= link_to('Search for Movies', movie_index_path) %></li>
    </ul>
  </li>
    <li class="has-flyout">
      <a href="#">Actors</a>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><%= link_to('View all Actors', actors_path) %></li>
      <li><%= link_to('Add a new Actor', new_actor_path) %></li>
      <li><%= link_to('Search for Actors', actor_index_path) %></li>
    </ul>
  </li>

      </ul>
    </div>
  </div>

  <!-- End Header and Nav -->

<%= yield %>

     <!-- Footer -->

      <footer class="row">
        <div class="twelve columns"><hr />
          <div class="row">

            <div class="six columns">
              <p>&copy; 2013 by Eric Holland. All Rights Reserved </p>
            </div>

            <div class="six columns">
              <ul class="link-list right">
                 <li><a href="https://github.com/holl0272" target="_blank"><i class="foundicon-github"></i></a></li>
                <li><a href="https://twitter.com/dork_a_saurus" target="_blank"><i class="foundicon-twitter"></i></a></li>
                <li><a href="http://www.facebook.com/eric.holland.58173" target="_blank"><i class="foundicon-facebook"></i></a></li>
                <li><a href="www.linkedin.com/in/eholland/" target="_blank"><i class="foundicon-linkedin"></i></a></li>
                <li><a href="http://holl0272.tumblr.com/" target="_blank"><i class="foundicon-tumblr"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- End Footer -->

</body>
</html>
